{% extends "../base.html" %}

{% block body %}
<div class="main_box new_order">
    <h2><span></span>书柜管理</h2>

    <div class="cont_box">
        <div class="search_formbox clearfix">
            <a href="{% url 'books_new' %}" class="btn blue_btn curr">
                <i class="fa fa-edit"></i><span>添加</span>
            </a>
        </div>

{#        <form method="get" action="{{ path('backend_device_search') }}">#}
{#            <div class="search_box clearfix">#}
{#                <label class="f_left">搜索设备：</label>#}
{#                <input type="search" class="f_left search_input" name="searchParam" placeholder="输入设备序列号/运营人账号|电话"/>#}
{#                <input type="submit" value="搜索" class="btn blue_btn"/>#}
{#            </div>#}
{#        </form>#}
    </div>

    <div class="cont_box">
        <table border="0" cellspacing="0" cellpadding="0" class="table" id="table_box">
            <thead>
                <tr>
                    <th>书柜ID</th>
                    <th>书柜编号</th>
                    <th>身份ID</th>
                    <th>详细地址</th>
                    <th>操作信息</th>
                    <th class="w200">操作</th>
                </tr>
            </thead>

            <tbody>
                {% for bookcase in bookcase_list %}
                    <tr>
                        <td class="center">{{ bookcase.bc_id }}</td>
                        <td class="center">
                            {% if bookcase.bc_no %}
                                {{ bookcase.bc_no }}
                            {% endif %}
                        </td>
                        <td class="center">
                            {% if bookcase.blockchain_id %}
                                {{ bookcase.blockchain_id }}
                            {% endif %}
                        </td>
                        <td class="center">
                            {% if bookcase.address_detail %}
                                {{ bookcase.address_detail }}
                            {% endif %}
                        </td>
                        <td class="center">
                            创建时间：{{ bookcase.create_time  }}<br/>
                            更新时间：{{ bookcase.update_time  }}<br/>
                            {% if bookcase.comment %}
                                备注：{{ bookcase.comment }}
                            {% endif %}
                        </td>
                        <td class="center">
                            <a href="{% url 'books_edit' book_id=bookcase.bc_id %}" class="table_btn table_warning">
                                <i class="fa fa-edit"></i><span>编辑</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{#    <div class="txtCenter">#}
{#        {{ knp_pagination_render(pagination) }}#}
{#    </div>#}
</div>
{% endblock %}
