{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="renderer" content="webkit">

	<title>
		{% block title %}COT智能书柜-管理系统{% endblock %}
	</title>

    <!--公共CSS-->
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{% static 'backend/fontsawesome/css/font-awesome.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'backend/css/style.css' %}">
    {% endblock %}

    <!--自定义CSS-->
	{% block css %}
	{% endblock %}
</head>


<body>
    {% block bodyTop %}
        <!--顶部导航区-->
        {% include "./common/topNav.html"%}

        <!--左侧菜单区-->
        {% include "./common/leftMenu.html"%}
    {% endblock %}

    {% block body %}
        <!--右侧内容区-->
        {% include "./common/rightBody.html"%}
    {% endblock %}
</body>


    <!--公共JS-->
    {% block javascript %}
        <script type="text/javascript" src="{% static 'backend/js/jquery-1.11.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'backend/js/tipSuppliers.js' %}"></script>

        <script>
            $("iframe[name='cont_box']").on("load",function(){
                $(".loading").hide();
                setTimeout(function(){$("iframe[name='cont_box']").css("opacity","1");},500);
            });

            $(function(){
                $(".loading").hide();
                setTimeout(function(){$("iframe[name='cont_box']").css("opacity","1");},500);
                $(".nav li:first").trigger("click");
            });

            jQuery("body").jrdek({Mtop:".header",Mleft:".main_left",Mright:".main_right",foldCell:".main_left h2"});
        </script>
    {% endblock %}

    <!--自定义JS-->
    {% block js %}
    {% endblock %}
</html>
